<%- include('./partials/head.ejs') %>
<link href="/css/userlist.css" rel="stylesheet">

<h1>LIST ALL USERS</h1>

<div id="links">
    <a href="/dashboard" class="btn btn-light">Back</a>
    <a href="/admin/user_admin_create_get" class="btn btn-primary">Create user</a>
</div>

<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Roles</th>
        <th>.</th>
        <th>.</th>
    </tr>

    <% if (list !== null) { %>
    
        <% for(i=0; i != list.length; i++) { %>
            <tr>
                <th><%= list[i].username %></th>
                <th><%= list[i].email %></th>
                <th><%= list[i].roles %></th>
                <th>
                    <form action="/admin/user_admin_read_get" method="get">
                        <input id="id>" type="hidden" name="id" value="<%=list[i]._id%>"/>
                        <input id="btnEdit" type="submit" name="btnEdit" class="btn btn-success" value="Edit"/>
                    </form>
                </th>
                <th>
                    <form action="/admin/user_admin_delete_post" method="post">
                        <input id="id>" type="hidden" name="id" value="<%=list[i]._id%>"/>
                        <input id="btnDelete" type="submit" name="<%=list[i]._id%>" class="btn btn-danger" value="Delete"/>
                    </form>
                </th>
            </tr>
    
        <% } %>
    
    <%  } %>
    


</table>
